:root {
  --black: #111111;
  --white: #fff;
  --active-nav: #cdaa7d;
  --gray: rgb(117, 117, 117);
  --light-gray: rgb(223, 223, 223);
  --light-blue: rgb(78, 119, 255);
  --blue: rgb(58, 23, 255);
  --purple: #9a109a;
  --l-purple: #f437f4;
}
